/* nav */

nav {
    position: fixed;
    z-index:23;
    top: 0;
    width:100%
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #e9e9e9;
  position: relative;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #292929;
  text-decoration: none;
  padding: 17px;
  display: block;
}

nav ul li:hover {
  background: lightgrey;
}

nav ul ul {
  position: absolute;
  min-width: 200px;
  background: lightgrey;
  display: none;
}

nav ul ul li {
  display: block;
  background: #e3e3e3;
}

nav ul li i {
  color: #292929;
  float: right;
  padding-left: 20px;
}

nav a.burger {
    text-align: right;
    background: lightgrey;
    color: #292929;
    font-size: 24px;
    padding: 0.6em;
    cursor: pointer;
    display: none;
}

/* @media screen and ( max-width: 1100px) { */
/*   nav a.burger { */
/*     display: block; */
/*   } */

/*   nav ul li { */
/*     display: none; */
/*     position: static; */
/*     background: #e3e3e3; */
/*   } */

/*   nav ul ul { */
/*     position: static; */
/*     background: #e3e3e3; */
/*   } */
/* } */
nav a.active  {
    background-color: #2196F3;
    color: white;
}

nav .icon {
}
nav .search-container{
    width:120px;
    margin-left: 15px;
    margin-bottom: 10px;
}
nav  button.search-button {
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.arrow {
    position:relative;
}

.arrowland {
    position:relative;
    left: 210px;
}
.centered {
    text-align: center;
    vertical-align: middle;
}

.boat {
    width:70px;
    position:absolute;
    z-index:2;
    margin-left: -5px;
    margin-top: -10px;
}
.boathalo {
    position:relative;
    left: 25px;
    top: -2px;
    z-index:2;
}
.piratehalo {
    -webkit-appearance: none;
    -webkit-box-shadow:
        0 0 80px 0px #fff,  /* inner white */
        0 0 40px 20px black, /* middle magenta */
        0 0 60px 40px #fff; /* outer cyan */
    box-shadow:
        0 0 80px 0px #fff,  /* inner white */
        0 0 40px 20px black, /* middle magenta */
        0 0 60px 40px #fff; /* outer cyan */
}
.corsairehalo {
    -webkit-appearance: none;
    -webkit-box-shadow:
        0 0 80px 0px #fff,  /* inner white */
        0 0 40px 20px red, /* middle magenta */
        0 0 60px 40px #fff; /* outer cyan */
    box-shadow:
        0 0 80px 0px #fff,  /* inner white */
        0 0 40px 20px red, /* middle magenta */
        0 0 60px 40px #fff; /* outer cyan */
}
th {
    width:50px;
    height: 50px;
    text-align:center;
}

.xy {
    width:50px;
}
.legenditem{
    width: 240px;
    display:inline-block;

}
.legend{
  width: 500px;
}
.box {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  clear: both;
  display: inline-block;
}

#message {
    display: none;
    top: 60px;
    position:relative;
    background-color:lightgoldenrodyellow;
    padding:5px;
    margin:5px;
    left: 20px
}

#target {
    position:relative;
    padding:5px;
    margin:5px;
}

.login {
    top: 80px;
    position: relative;
    text-align: center;
}

.map {
    display:block
}

.tools {

    display:block
}


.imgcase {
    height:50px;
    width:50px;
    position:absolute;
    z-index:1;
}
.harbour {
    z-index:12;
}


/* table th:hover .tooltip { */
/*     visibility: visible; */
/*     opacity: 1; */
/* } */

th .tooltip {
    width: 200px;
    font-size: smaller;
    background-color: #F0F0F0;
    color: #000;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 5;
    margin-left: -75px;
    opacity: 1;
    display:none;
    box-shadow: 6px 5px 5px gray;
    border: solid 1px black;
}

.notland {
    margin-top: 50px;
}

th .tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.dock {
    min-width: 200px;
}

.move {
    border-radius: 50%;
}
.boatspec {
    position:absolute;
    top: 0px;
    padding: 20px;
}
.boatspectable {
    width:300px;
}
.boatspectable th, .boatspec td {
    border : 1px solid lightgrey;
    width: 50%;
    padding: 5px;
}


.landToAdd {
    background-repeat: repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    background-size:contain;
    margin-left: 8px;
    margin-top: 8px;
    opacity: 0.5;
}
.landToAddSelected {
    background-repeat: repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    background-size:contain;
    margin-left: 8px;
    margin-top: 8px;
    border: 4px solid blue;
    
}

.brushes {
    position: fixed;
    background: white;
    z-index: 10;
    padding: 20px;
    width: 210px;
}


.buttonmodal button{
    margin:5px;
    float:right;
}

.closemodal {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.maskmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}
.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  width: 400px;
  height: 80%;
  margin-left: -200px;
  margin-top: -150px;
  background: #e9e9e9;
  z-index: 1001;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
  overflow:auto;
  padding:10px;
}

.active {
  visibility: visible;
  opacity: 1;
}
.active + .modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  display:block;
}

.modal .input{
    margin: 6px;
    left: 50px;
}
.control .input{
    margin: 5px;
}
.tooltipbutton {
    height:25px;
}

.events {
    width: 100%;
}

.landable {
    background-size:50px 50px;
}

.landcase {
    background-size:50px 50px;
}
.imgland {
    height: 50px;
    width:50px;
}

.tableborder{
     margin:10px;
}
.tableborder th{
    border: 3px solid black;
    padding:10px;
    text-align:center;
}
.tableborder td{
    border: 1px solid black;
    padding:10px;
    text-align:center;
}

.card{
    padding:10px;
    margin-bottom:20px;
                
}


.boursetable th{
    border: 3px solid black;
    padding:10px;
    text-align:center;
}
.boursetable td{
    border: 1px solid black;
    padding:5px;
    text-align:center;
}

td.basicprice {
    color:red;
}

td.coord {
    display:none;
}

.foret{
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 90px;
    margin: -15px;
}
.montain{
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 120px;
    margin: -30px;
}

.meter {
  height: 20px;
  position: relative;
  background: #555;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.orange > span {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

.darkred > span {
    background-color: #d25454;
    background-image: linear-gradient(to bottom, #d25454, #b11c1c);
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #eee;
    display: none;
    overflow: hidden;
}


.oldseen {
    opacity: 0.3;
    width: 50px;
    height: 50px;
    position: absolute;
    background: black;
    z-index: 1;
}

.sidemap {
    position:relative;
    width:500px;
    height:500px;
}

.cross {
color: white;
position: absolute;
font-weight: bold;
font-size: 16px;
border-radius: 30px;
border: 2px solid red;
width: 30px;
height: 30px;
text-align: center;
}

.note-editable{
    height:250px;
}


.border {
    border:black 1px solid;
    min-height: 300px;
}


.hasmessage {
    display:inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    color: #fff;
    background-color: #dc3545;
}

.topmessage {
    width:100%;
}
.botmessage {
    width:100%;
    position: relative;
    top: -50px;
}
.bodymessage {
    background-image:url("/statics/images/corpsmessage.png");
    background-size:100%;
    padding:40px;
    font-size:50px;
    font-family: 'Tangerine';
    font-weight: bold;
}


.corsairelink {
    color : red;
}
.piratelink {
    color : green;
}
.btn {
    margin:2px;
}


.here {
    width: 30px;
position: absolute;
z-index: 3;
}
