<head>
  <title>{{title}}</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.3, shrink-to-fit=no">

 <!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" href=
        "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href=
        "/statics/css/pirates.css?q=20220dd3sqdf31">
  <script src="/statics/js/pirates.js?q=2022fdqsdfdf0331"></script>
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.js"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
      .main {
          margin-top: 70px;
          background-color: white;
      }
      body {
          background-color: white;
      }
    </style>
</head>
{% block content %}
{% endblock %}
<script>
 
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
       to highlight the button that controls the panel */
      this.classList.toggle("active");
      
      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }

  $(document).ready(function() {
    $('#summernote').summernote();
  });

  
  $("nav a.burger").click(function() {
    $("nav ul li").slideToggle();
    $("nav ul ul").css("display", "none");
  });
  
  $("ul li").click(function() {
    mytab=$(this).find('ul')[0]
    activated=mytab.style.display
    $("nav ul ul").css("display", "none");
    if (activated==="block"){
      $(this).find('ul').css("display", "none");
    } else {
      $(this).find('ul').css("display", "block");      
    }
  });
  
  $(window).resize(function() {
    if($(window).width() > 1100) {
      $("ul").removeAttr('style');
    }
  });

  $(".landcase").click(function () {
    var $tooltip = $(this).find(".tooltip");
    if ($tooltip.length) {
      if ($tooltip[0].style.display=='block') {
        $tooltip[0].style.display='none'
      }else{
        $tooltip[0].style.display='block'
      }
    } 
  });  
</script>
