{% extends 'base.html' %}
{% set title='Pirates - Bourse' %}
{% block content %}
<body>
  {% with active='bourse' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
      <h1> Bienvenue sur la page de la bourse : </h1>
      <div class="card" >
        {% with page='bourse' %}
        {% include "editor.html" %}
        {% endwith %}
        <div class="card__body card__body--unpadded">
          <input class='input is-large' type='text'
                 id='name' placeholder='Denomination' autofocus=''>
              <input class='input is-large' type='number'
                     id='sellprice' placeholder='Prix de vente' autofocus=''>
                  <input class='input is-large' type='number'
                  id='buyprice' placeholder="Prix d'achat" autofocus=''> 
                <td><button class="btn btn-success"
                onclick=addRessourceType()>Ajouter</button>
          <table class="boursetable">
            <th class="dock">Port</th>
            <th class="dock">Denrée</th>
            <th class="dock">Prix de vente</th>
            <th class="dock">Prix d'achat</th>
            {% for item in items %}
            <tr class='list-item'>
              <td rowspan={{items[item].prices|length}}>{{items[item].name}}
                                 </td>
            {% for price in items[item].prices %}
              <td {%if price.basic%}class="basicprice"{%endif%}>{{price.type}}
                                 {% if item==0%}<button class="btn btn-outline-warning" onclick="modifyRessourceName('{{price.ressourceid}}')">Modifier
                </button>{%endif%}</td>
              <td {%if price.basic%}class="basicprice"{%endif%}>
                {{price.sellprice}}
                <button class="btn btn-outline-warning" onclick="modifyPrice('{{price.ressourceid}}',
                                 '{{item}}', 'sell')">
                  Modifier
                </button>
              </td>
              <td {%if
                  price.basic%}class="basicprice"{%endif%}>{{price.buyprice}}
               <button class="btn btn-outline-warning" onclick="modifyPrice('{{price.ressourceid}}',
                                 '{{item}}', 'buy')">
                  Modifier
               </button>
              </td>
                   </tr>
            {% endfor %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </main>
</body>

{% endblock content %}
