{% extends 'base.html' %}
{% set title='Pirates - Anim - Constructions' %}
{% block content %}
<body>
  {% with active='buildings' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    <div class="container">
      <h2> Liste des constructions : </h2>
            {% with page='buildings' %}
      {% include "editor.html" %}
      {% endwith %}
      <div class="card" >
        <h2> Liste des Ports : </h2>
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th class="dock">Nom</th>
              <th class="dock">Description</th>
              <th class="">Carte</th>
              <th class="">Lat</th>
              <th class="">Long</th>
              <th class="">Camp</th>
              <th class="">Actif</th>
              <th class="dock">Population</th>
              <th class="dock">Actions</th>
              
              {% for harbour in harbours %}
              <tr class='list-item'>                
                <td><a href="/events/h{{harbour.id}}">{{harbour.name}}</a></td>      
                <td>{{harbour.description}}</td>    
                <td>{{harbour.mapid}}</td>
                <td>{{harbour.lat}}</td>
                <td>{{harbour.long}}</td>
                <td>{{harbour.side}}</td>
                <td>{{harbour.active}}</td>
                <td>{{harbour.defense}}/{{harbour.maxpop}}</td>
                <td><a class="btn btn-primary" href="/anim/harbour/{{harbour.id}}">Modifier<a/></td>
              </tr>
              {% endfor %}
             
            </table>
         
          </div>
          
          </div>
          <div class="card" >
        <h2> Liste des Portals : </h2>
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th class="dock">Nom</th>
              <th class="">Carte</th>
              <th class="">Lat</th>
              <th class="">Long</th>
              <th class="">Camp</th>
              <th class="">Actif</th>
              <th class="dock">Port de destination</th>
              <th class="dock">Actions</th>
              {% for portal in portals %}
              <tr class='list-item'>                
                <td>{{portal.name}}</td>      
                <td>{{portal.mapid}}</td>
                <td>{{portal.lat}}</td>
                <td>{{portal.long}}</td>
                <td>{{portal.side}}</td>
                <td>{{portal.active}}</td>
                <td>{{portal.harbourname}}</td>
                <td> <a class="btn btn-primary" href="/anim/portal/{{portal.id}}">Modifier<a/></td>
              </tr>
              {% endfor %}
             
            </table>
         
      </div>
    </div>
  </main>
</body>

{% endblock content %}
