{% extends 'base.html' %}
{% set title='Pirates - Anim - capitaines' %}
{% block content %}
<body>
  {% with active='captains' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    <div class="container">
      <h2> Liste des capitaines : </h2>
            {% with page='captains' %}
      {% include "editor.html" %}
      {% endwith %}
      <div class="card" >
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th >
                {% if orderBy=='id' %}
                <a href="/anim/captains/aid">
                  {% else %}
                <a href="/anim/captains/id">
                  {% endif %}
                  id</a></th>
              <th class="dock">
                {% if orderBy=='pseudo' %}
                <a href="/anim/captains/apseudo">
                  {% else %}
                <a href="/anim/captains/pseudo">
                  {% endif %}
                  Capitaine</a></th>
              <th class="dock">
                {% if orderBy=='boatname' %}
                <a href="/anim/captains/aboatname">
                  {% else %}
                <a href="/anim/captains/boatname">
                  {% endif %}Nom</a></th>
              <th class="">  {% if orderBy=='xp' %}
                <a href="/anim/captains/axp">
                  {% else %}
                <a href="/anim/captains/xp">
                  {% endif %}XP</th>
              <th class="">  {% if orderBy=='thune' %}
                <a href="/anim/captains/athune">
                  {% else %}
                <a href="/anim/captains/thune">
                  {% endif %}Thune</th>
              <th class="">  {% if orderBy=='side' %}
                <a href="/anim/captains/aside">
                  {% else %}
                <a href="/anim/captains/side">
                  {% endif %}Camp</th>
              <th class="">  {% if orderBy=='type' %}
                <a href="/anim/captains/atype">
                  {% else %}
                <a href="/anim/captains/type">
                  {% endif %}Navire</th>
              <th class="">Action</th>
              
              {% for captain in captains %}
              <tr class='list-item'>      <td>{{captain.id}}</td>           
                <td><a href="/events/b{{captain.boatid}}">{{captain.pseudo}}</a></td>      
                <td><a href="/events/b{{captain.boatid}}">{{captain.boatname}}</a></td>    
                <td>{{captain.xp}}</td>
                <td>{{captain.thune}}</td>
                <td>{{captain.side}}</td>
                <td>{{captain.type}}</td>
                <td><a class="btn btn-primary" href="/anim/harbour/{{captain.id}}">Modifier<a/></td>
              </tr>
              {% endfor %}
             
            </table>
         
          </div>
          
          </div>
          <div class="card" >
      
    </div>
  </main>
</body>

{% endblock content %}
