{% extends 'base.html' %}
{% set title='Pirates - Messages' %}
{% block content %}
<body>
  {% with active='messages' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
       <div class="container">
       <div class="container">
          <table class="tableborder">
          <th class="dock"><a href="/messages">Messages reçus</a></th>
          <th class="dock"><a href="/sended">Message envoyés</a></th>
          <th class="dock"><a href="/createMessage">Nouveau message</a></th>
        </table>
          <h1> Nouveau message: </h1>
      <div class="card" >
        <form method="post">
          <label for="toid">Destinataire</label>



  <div class="">
    <select id="side" onChange="change(this.value)">
  <option  value="">Selectionner un par un</option>
  <option  value="corsaires">Tous les corsaires</option>
  <option  value="pirates">Tous les pirates</option>
  </select>
  <span class="input-group-btn">

	    </span>
	    <select id="toids" name="Destinataire[]"
                                      multiple="multiple"
                                      class="form-control" required><!--  class="js-states form-control -->
                                      <!-- select2-hidden-accessible" -->
                                      <!-- data-select2-id="toto" -->
                                      <!-- tabindex="-1" -->
                                      <!-- aria-hidden="false" multiple=""> -->
	      <option></option>
              {% for curboat in boats %}
	      <option value="{{curboat.id}}">{{curboat.boatname}}</option>
              {% endfor %}
	    </select>
	  </div>
          <label for="subject">Sujet</label>
          <input class="form-control" type="text" id="subject"
               placeholder="Sujet" autofocus="" required{% if message
                 %} value="Re: {{message.subject}}"
          {%endif%}>
          <label for="summernote">Contenu</label>
          <textarea id="summernote" name="editordata">
             <div align="right">  {{boat.lat}}x{{boat.long}}, {{now}}.
           </div>
           Cher Capitaine,
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/><div align="right"><b>
           {{username.pseudo}}</b>, capitaine du <b>{{boat.name}}  </b> </div>
            {% if message %}--- le {{message.created}}, {{message.fromname}} à écrit :<br/>{{message.content|safe()}}
            {% else %}
           {%endif%}</textarea>
        </form>
        <button  class="btn btn-success"
        onclick="sendMessage()">Envoyer le message</button>
      </div>
    </div>
  </main>
</body>
<script>
  $('#toids').select2({
    placeholder: 'Destinataire(s)'
  });
{% if message %}

{% if message.toids in ['corsaires', 'pirates'] %}
$('#side').val('{{message.toids}}')
$('#side').trigger('change');

{%else%}
$('#toids').val({{message.toids|safe()}});
$('#toids').trigger('change');
{% endif %}
{% endif %}
function change(param) {
  if (param == "") {
    $('.select2').show()
  }
  else {
    $('.select2').hide()
      }
}
</script>
{% endblock content %}
