{% extends 'base.html' %}
{% set title='Pirates - Dock' %}
{% block content %}
<body>
  {% with active='dock' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
    <div class="container">
      <h1> Bienvenue sur les docks
      de <a href="/events/h{{harbour.id}}">{{ harbour.name }}</a> ({{harbour.side}}) : </h1>
      <p> Vous avez {{boat.thune}} pièces de huit.</p>

          <p{% if boat.totalweight and boat.totalweight >boat.maxweight %}
            style="color:red;"
            {% endif %}>
            Encombrement : {{boat.totalweight}} /{{boat.maxweight}}
            {% if boat.totalweight and boat.totalweight >boat.maxweight %}({{malus.malus}} PM de malus){% endif %}</p>
      {% with page='dock' %}
      {% include "editor.html" %}
      {% endwith %}

      <div class="card" >
        <h2> Achat / Vente : </h2>
        {% if boatstock!=[] %}
        <h3> Vendre sur les docks : </h3>
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th class="dock">Type</th>
              <th class="dock">Nombre</th>
              <th class="dock">Action</th>
              {% for st in boatstock %}
              <tr class='list-item'>
                <td>{{st.type}} {% if st.type=='Population' %}(
                {{st.side}} ){% endif %}</td>
                <td>{{st.number}}</td>
                <td>{% if st.type=='Population' and
                  ( boat.side in st.side or st.side=='neutral') %}
                  <button class="btn btn-primary" onclick=unLoadPeople({{st.id}})>Debarquer</button></td>
                  {% elif st.type=='Population'%}
                  <button class="btn btn-primary"
                  onclick=sellRessources({{st.id}})>Demander la
                    rançon</button>
                  {% elif st.type!='Pavillon' %}
                   <button class="btn btn-primary"
                  onclick=sellRessources({{st.id}})>Vendre</button>
                  {% endif %}
</td>
              </tr>
              {% endfor %}

            </table>
        </div>
        {% else %}
        <div class="card" >
        <h3> Vous n'avez rien à vendre</h3>
        {% endif %}

          <h3> Acheter sur les docks : </h3>

        {% if harbourstock!=[] %}
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th class="dock">Type</th>
              <th class="dock">Nombre</th>
              <th class="dock">Action</th>
              {% for st in harbourstock %}
              <tr class='list-item'>
                <td>{{st.type}} {% if st.type=='Population' %}(
                {{st.side}} ){% endif %}</td>
                <td>{{st.number}}</td>
                <td>
                  {% if st.number !=0 %}
                  <button class="btn btn-primary"
                          onclick=buyRessources({{st.id}})>Acheter</button>
                  {% else %}
                  Plus de stock revenez plus tard
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p> Il n'y a rien à acheter </p>
        {% endif %}
        </div>
        {% if harbourpop!=[] %}
        <div class="card" >
          <h2> Population du port {{harbour.name}} {{totalpop}}/{{harbour.maxpop}} </h2>
          <div class="">
              <div class="card__body card__body--unpadded">
                <table class="tableborder">
                  <th class="dock">Allégeance</th>
                  <th class="dock">Nombre</th>
                  <th class="dock">Action</th>
                  {% for pop in harbourpop %}
                  <tr class='list-item'>
                    <td>{{pop.side}}</td>
                    <td>{{pop.number}}</td>
                    <td>
                      {% if harbour.side == boat.side and (boat.side in pop.side or pop.side=='neutral') %}
                      <button class="btn btn-primary" onclick=loadPeople({{pop.id}})>Embarquer</button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              {% else %}
              <div class="card" >
                <h2> Personne dans le port </h2>
              </div>
              {% endif %}

            </div>
          </div>
        <div class="card" >
          <h2> Bourse : </h2>
          <div class="">
            <div class="card__body card__body--unpadded">
              <table class="boursetable">
                <th class="dock">Port</th>
                <th class="dock">Denrée</th>
                <th class="dock">Prix de vente</th>
                <th class="dock">Prix d'achat</th>
                <tr class='list-item'>
                  <td rowspan={{items[harbour.id].prices|length}}>{{items[harbour.id].name}} </td>
                  {% for price in items[harbour.id].prices %}
                  <td>{{price.type}}{% if price.type=='Population' %}
                    ( rançon ) {%endif%}</td>
                  <td >{{price.sellprice}}</td>
                  <td >{{price.buyprice}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
</main>
</body>

{% endblock content %}
