{% if session.role in ['animateur', 'admin'] and
edit=='true' %}
<form method="post">
  <textarea id="summernote" name="editordata">
    {{ pagetext.content|safe() }}</textarea>
</form>
<button  class="btn btn-success" onclick="saveTextPage('{{page}}')">Sauver</button>
{% else %}
{{ pagetext.content|safe() }}
{% if session.role in ['animateur', 'admin'] %}<a href="?edit=true">editer</a>{% endif %}
{% endif %}

