{% extends 'base.html' %}
{% set title='Pirates - Evènements' %}
{% block content %}
<body>
  {% with active='events' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    <div class="container">
      
	    <select onChange="change('b'+this.value);" id="boats" 
                                      class="form-control" required><!--  class="js-states form-control -->
                                      <!-- select2-hidden-accessible" -->
                                      <!-- data-select2-id="toto" -->
                                      <!-- tabindex="-1" -->
                                      <!-- aria-hidden="false" multiple=""> -->
	      <option></option>
              {% for curboat in boats %}
	      <option value="{{curboat.id}}">{{curboat.boatname}}</option>
              {% endfor %}
	    </select>
                <select onChange="change('h'+this.value);" id="harbours" name="Destinataire[]"
                                      class="form-control" required><!--  class="js-states form-control -->
                                      <!-- select2-hidden-accessible" -->
                                      <!-- data-select2-id="toto" -->
                                      <!-- tabindex="-1" -->
                                      <!-- aria-hidden="false" multiple=""> -->
	      <option></option>
              {% for curharbour in harbours %}
	      <option value="{{curharbour.id}}">{{curharbour.name}}</option>
              {% endfor %}
	    </select>
      <div class="card" >
        {% if ev.eventtype=='boat' %}
        <h2> Derniers évènements de {{ev.element.boatname}}
          ({{ev.element.side}})</h2>
        Capitaine : {{ev.element.pseudo}}<br/>
        Renommée : {{ev.element.xp}}<br/>
        Navire : {{ev.element.type}}
        {% else %}
        <h2> Derniers évènements de {{ev.element.name}}
          ({{ev.element.side}})</h2>
        
        {% if ev.element.active!=True %}
        Il n'est pas possible de respawn dans ce port.<br/>
        {% endif %}
        
        
        
        {% if ev.personal==True %}
        <b>Population : {{ev.totalpop}}/{{ev.element.maxpop}}
        </b>( {% for pop in ev.pops %}{{pop.number}} {{pop.side}}s{%if
        pop!=ev.pops[ev.pops|length()-1]%},{% endif %}
                {% endfor %})
        {% endif %}
        {% endif %}
        <br/>
        {% with page='events' %}
        {% include "editor.html" %}
        {% endwith %}
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th class="dock">Date</th>
              <th class="events">Evènement</th>
              {% for event in ev.events %}
              <tr class='list-item'>                
                <td>{{event.Timestamp}}</td>              
                <td colspan="4">{{event.comment|safe}}</td> 
              </tr>
              {% endfor %}
             
            </table>
         
      </div>
    </div>
  </main>
</body>
<script>
  $('#boats').select2({
    placeholder: 'Choisir un navire'
  });
    $('#harbours').select2({
    placeholder: 'Choisir un port'
  });
  function change(val){
        var loc = '/events/'+val
        window.location = loc
  }
  
</script>

{% endblock content %}
