{% extends 'base.html' %}
{% set title='Pirates - Anim - Port' %}
{% block content %}
<body>
  {% with active='harbour' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
    <div class="container">
      <h1> Bienvenue sur la page de {{ harbour.name }} : </h1>
      Allégence : {{harbour.side}}<br/>
      Population :  {{harbour.defense}}/{{harbour.maxpop}}<br/>
            {% with page='harbour' %}
      {% include "editor.html" %}
      {% endwith %}
        <div class="card" >
          <h2> Les docks : </h2>
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th class="dock">Type</th>
              <th class="dock">Camp</th>
              <th class="dock">Nombre</th>
              <th class="dock">Action</th>
              {% for st in harbourstock %}
              <tr class='list-item'>
                <td>{{st.type}} </td>
                <td>{{st.side}}</td>
                <td>{{st.number}}</td>
                <td><button class="btn btn-primary"
                onclick=modifyRessource({{st.id}})><span class="glyphicon
                glyphicon-pencil" aria-hidden="true"></span> Modifier</button><button class="btn
                btn-danger" onclick=deleteRessource({{st.id}})>Supprimer</button></td>
              </tr>
              {% endfor %}
              <tr class='list-item'>
                <td>
                  <select id='ressourcetype' class='input' name='ressourcetype' >
                    <option value=''>--Choisir le type--</option>
                    {% for item in items %}
                    <option value='{{item.ressourceid}}'>{{item.type}}</option>
                    {% endfor %}
                  </select>
                </td><td>
                 <select id='ressourceside' class='input' name='side' >
                    <option value='neutral'>Neutral</option>
                    <option value='pirate'>Pirate</option>
                    <option value='corsaire'>Corsaire</option>
                  </select></td>
                <td><input class='input is-large' type='number' id='ressourceamount' placeholder='Nombre' autofocus=''> </td>
                <td><button class="btn btn-success"
                onclick=addRessource({{harbour.id}})>Ajouter</button></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card" >
          <h2> Population du port : </h2>
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th class="dock">Nombre</th>
              <th class="dock">Allégence</th>
              <th class="dock">Action</th>
              {% for pop in harbourpop %}
              <tr class='list-item'>
                <td>{{pop.number}}</td>
                <td>{{pop.side}}</td>
                <td><button class="btn btn-primary"
                onclick=modifyPop({{pop.id}})><span class="glyphicon
                glyphicon-pencil" aria-hidden="true"></span> Modifier</button><button class="btn
                btn-danger" onclick=deletePop({{pop.id}})>Supprimer</button>
                </td>
              </tr>
              {% endfor %}
              <tr class='list-item'>
                <td><input class='input is-large' type='number' id='popamount' placeholder='Nombre' autofocus=''> </td>
                <td>
                  <select id='popside' class='input' name='side' >
                    <option value=''>--Choisir le camp--</option>
                    <option value='neutral'>Neutral</option>
                    <option value='pirate'>Pirate</option>
                    <option value='corsaire'>Corsaire</option>
                  </select>
                </td>
                 <td><button class="btn btn-success"
                onclick=addPop({{harbour.id}})>Ajouter</button></td>
            </table>
          </div>
        </div>
  </main>
</body>

{% endblock content %}
