{% extends 'base.html' %}
{% set title='Pirates - Aide' %}
{% block content %}
<body>
  {% with active='help' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
    <div class="container">
      <h1> Page de l'aide: </h1>
      <div class="card" >
      {% with page='help' %}
      {% include "editor.html" %}
      {% endwith %}
      </div>
    </div>
  </main>
</body>

{% endblock content %}
