{% extends 'base.html' %}
{% set title='Pirates - Cale' %}
{% block content %}
<body>
  {% with active='hold' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
    <div class="container">
      <div class="card" >
        <h2> Contenu de la cale de {{boat.boatname}}: </h2>
        <div class="card__body card__body--unpadded">
          <p> Vous avez {{boat.thune}} pièces de huit.</p>
          <p{% if boat.totalweight and boat.totalweight >boat.maxweight %}
            style="color:red;"
            {% endif %}>
            Encombrement : {{boat.totalweight}} /{{boat.maxweight}} {% if boat.totalweight and boat.totalweight >boat.maxweight %}({{malus.malus}} PM de malus){% endif %}</p>
          {% with page='hold' %}
          {% include "editor.html" %}
          {% endwith %}
            <table class="tableborder">
              <th class="dock">Type</th>
              <th class="dock">Camp</th>
              <th class="dock">Nombre</th>
              <th class="dock">Poids</th>
              <th class="dock">Ressources séléctionnées</th>
              <th class="dock" colspan="2">Action</th>
              {% for hold in holds %}
              <tr class='list-item'>
                <td>{{hold.type}}</td>
                <td>{{hold.side}}</td>
                <td>{{hold.number}}</td>
                <td>{{hold.weight*hold.number}}</td>
                <td>{% if hold.type != "Population" %}
                  <select name="{{hold.type}}" id="{{hold.id}}">
                    {% for i in range(0, hold.number+1) %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                  {% endif %}
                </td>
                <td colspan="2">
                  {%if hold.type=='Pavillon' %}
                  <button class="btn btn-primary"
                onclick=changeFlag({{hold.sourceid}})>Installer ce
                    Pavillon</button>
                  {%endif%}
                  {%if hold.type=='Canon' and boat.canon<boat.canonmax%}
                  <button class="btn btn-primary"
                onclick=addCanon({{hold.id}})>Installer un canon</button>
                  {%endif%}
                  <button class="btn btn-primary"
                onclick=putRessourceIntoSea({{hold.id}})>Jeter à la mer</button></td>
              </tr>
              {% endfor %}
             
            </table>
             <button class="btn btn-primary"
                onclick=putRessourcesIntoTreasure()>Mettre les
               ressources dans un trésor</button>

             {% for treasure in treasures %}
<p>Vous possedez une carte de trésor qui se trouve en {{treasure.lat}}x{{treasure.long}}</p>
             {% endfor %}
      </div>
    </div>
  </main>
</body>

{% endblock content %}
