{% extends 'base.html' %}
{% set title='Pirates - Accueil' %}
{% block content %}
<body>
  {% with active='home' %}
  {% include "menu.html" %}
  {% endwith %}
 <main class="main">
   <div class="container">
     {% if not session._fresh %}
     Pour se connecter cliquez
     sur <a href='/login'>Se connecter</a><br/>
     Pour vous inscrire, cliquez sur <a href='/signup'>Créer un
       compte</a><br/>
     {% endif %}

  {% with page='index' %}
  {% include "editor.html" %}
  {% endwith %}



   </div>
  </main>
</body>

{% endblock content %}

