{% extends 'base.html' %}
{% set title='Pirates - Login' %}
{% block content %}
<body>
  {% with active='' %}
  {% include "menu.html" %}
  {% endwith %}
  <div class="login">
    <h3 class="title">Login</h3>
    <div class="box">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email"
                           name="email" placeholder="Email utilisé
                           lors de la création" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>

{% endblock content %}
