{% extends 'base.html' %}
{% set title='Pirates - Creation de carte' %}
{% block content %}
<body>
  {% with active='managecarte' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    <div class="maskmodal" role="dialog"></div>
  <div id="message"></div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-warning">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %} {{ messages }}
  <div class="maskmodal" role="dialog"></div>
  <div class="modal" role="alert">
    <div id="modal">
</div>
  </div>
  <div class="brushes">
  <input id="landToAdd" type="text" style="display:none;"/>
  {% for i in ['harbour','portal','shallowsea','deepsea','lava',
  'sand', 'corail', 'seaweed','deepseaweed', 'foret', 'montain'] %}
  <img onclick="changeLand('{{i}}')" id="{{i}}" style="position: relative;" class="landToAdd" src=/statics/images/{{i}}.png>
  {% endfor %}
  <br/>
  {% for i in ['sabledroit', 'sableobtu', 'sableaigue', 'creek',
  'bancsable', 'creekdroit', 'seadroit', 'seaobtu', 'seaaigue',
  'corailturn', 'seaweeddroit', 'seaweedaigue','seaweedobtu', 'deepseaweeddroit', 'deepseaweedaigue','deepseaweedobtu'] %}
  {% for j in ['', 'e', 's', 'o'] %}
    <img onclick="changeLand('{{i}}{% if j!='' %}-{{j}}{% endif %}')" id="{{i}}{% if j!='' %}-{{j}}{% endif %}"
  style="position: relative;
rotate:{% if j=='' %}0deg
{% elif j=='e' %}90deg
{% elif j=='s' %}180deg
{% elif j=='o' %}-90deg
{% endif %};" class="landToAdd"
         src="/statics/images/{{i}}.png">

    {% endfor %}
    <br/>
  {% endfor %}
    {% for i in ['coraildroit'] %}
  {% for j in ['', 'e'] %}
    <img onclick="changeLand('{{i}}{% if j!='' %}-{{j}}{% endif %}')" id="{{i}}{% if j!='' %}-{{j}}{% endif %}"
  style="position: relative;
rotate:{% if j=='' %}0deg
{% elif j=='e' %}90deg
{% endif %};" class="landToAdd"
         src="/statics/images/{{i}}.png">

  {% endfor %}
  {% endfor %}
</div>
  <div>
    
    {% with url='anim/manageCarte' %}
    {% include "simplesinglemap.html"  %}
    {% endwith %}
   </div>
  </main>
</body>
<script>
  $(document).ready(function() {
    myinput = document.getElementById("landToAdd")
    myinput.value="deepsea"
    myanot = document.getElementById("deepsea")
    myanot.className= "landToAddSelected"

  });

  function manageAddLand(coord){
    myth = document.getElementById(coord)
    myimg= myth.children[0]
    myinput = document.getElementById("landToAdd")
    landid = myinput.value
    latlong=coord.split('x')
    addLand(latlong[0], latlong[1], landid, {{boat.mapid}})
    rot=0
    if (landid.includes('-')) {
      splited = landid.split('-')
      landid = splited[0]
      rot= getRotation(splited[1])
    }
    myimg.style.rotate=rot+'deg'
    myimg.src="/statics/images/"+landid+".png"
  }

  function getRotation(rot){
    switch (rot) {
    case 'e':
      return 90;
      break;
    case 's':
      return 180;
      break;
    case 'o':
      return -90;
      break;
    default:
      return 0;
    }
  }
  function changeLand(landid){
    oldanot = document.getElementsByClassName("landToAddSelected")
    oldanot[0].className= "landToAdd"
    myanot = document.getElementById(landid)
    myinput.value=landid
    myinput = document.getElementById("landToAdd")
    myanot.className= "landToAddSelected"
  }

</script>
{% endblock content %}
