{% extends 'base.html' %}
{% set title='Pirates - Navigation' %}
{% block content %}
<body>
  {% with active='boat' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
  <div id="message"></div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-warning">
    {{ messages[0]|safe() }}
  </div>
  {% endif %}
  {% endwith %} {{ messages }}
  <div class="maskmodal" role="dialog"></div>
  <div class="modal" role="alert">
    <div id="modal" class="container"></div>
  </div>
 
  <div class="container">
    {% include "singlemap.html"  %}
   </div>
  </main>
</body>

{% endblock content %}
