{% extends 'base.html' %}
{% set title='Pirates - Messages' %}
{% block content %}
<body>
  {% with active='messages' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
       <div class="container">       <div class="container">
          <table class="tableborder">
          <th class="dock"><a href="/messages">Messages reçus</a></th>
          <th class="dock"><a href="/sended">Message envoyés</a></th>
          <th class="dock"><a href="/createMessage">Nouveau message</a></th>
        </table>
      <h1>{{message.subject}}</h1>
      De : {{message.fromname}} {{created}}<br/>
      À : {{tonames.names}}
      <img class ="topmessage" src="/statics/images/topmessage.png">
      <div class="bodymessage" >
        
        {{ message.content|safe() }}
      </div>
      <img class ="botmessage" src="/statics/images/footermessage.png">
        <a  class="btn btn-success"
            href="/reply/{{message.id}}">Repondre</a>
  </main>
</body>

{% endblock content %}
