{% extends 'base.html' %}
{% set title='Pirates - Messages' %}
{% block content %}
<body>
  {% with active='messages' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
       {% endwith %}
      
       <div class="container">
          <table class="tableborder">
          <th class="dock"><a href="/messages">Messages reçus</a></th>
          <th class="dock"><a href="/sended">Message envoyés</a></th>
          <th class="dock"><a href="/createMessage">Nouveau message</a></th>
        </table>
      <h1> Vos messages reçus: </h1>
      <div class="card" >
      {% with page='messages' %}
      {% include "editor.html" %}
      {% endwith %}
      <div class="card__body card__body--unpadded">
        <table class="tableborder">
          <th class="dock">De</th>
          <th class="events">Sujet</th>
          <th class="dock">Date</th>
          {% for message in messages %}
          <tr class='list-item' 
            {%if not message.readed %}style="font-weight:bold"{%endif%}>
            <td><a href="/events/b{{message.fromid}}">{{message.expname}}</a></td>
            <td ><a href="/message/{{message.id}}">{{message.subject}}</a></td>
            <td >{{message.created}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </main>
</body>

{% endblock content %}
