{% extends 'base.html' %}
{% set title='Pirates - Carte explorée' %}
{% block content %}
<body>
  {% with active='carte' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    <div class="maskmodal" role="dialog"></div>
  <div id="message"></div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-warning">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %} {{ messages }}
  <div class="maskmodal" role="dialog"></div>
  <div class="modal" role="alert">
    <div id="modal" class="container">
</div>
  </div>
  <div>
    {% with url='persomap' %}
    {% include "simplesinglemap.html"  %}
    {% endwith %}
   </div>
  </main>
</body>
{% endblock content %}
