{% extends 'base.html' %}
{% set title='Pirates - Quêtes' %}
{% block content %}
<body>
  {% with active='quests' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
    <div class="container">
      <h1> Journal des quêtes de {{boat.boatname}}: </h1>
            {% with page='quests' %}
      {% include "editor.html" %}
      {% endwith %}
      {% if boatquests!=[] %}
      <div class="card" >
        <h2> Vos quêtes : </h2>
        <div class="card__body card__body--unpadded">
          <table class="tableborder">
            <th class="dock">Description</th>
            <th class="dock">Récompense</th>
            <th class="dock">Action</th>
            {% for st in boatquests %}
            {% if st.complete ==False %}
            <tr class='list-item'>
              <td>{{st.description}}</td>
              <td>{{st.award}} pièces de huit</td>
              <td>{% if boat.inharbour %}
                <button class="btn btn-primary" onclick=validateQuest({{st.questid}})>Rendre
                  la quête</button>{% else %}En attente{% endif %}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% for st in boatquests %}  {% if st.complete ==True %}
            <tr class='list-item'>
              <td>{{st.description}}</td>
              <td>{{st.award}} pièces de huit</td>
              <td>Déjà rendu</td>
            </tr>
            
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
      {% else %}
      <div class="card" >
        <h2> Vous n'avez aucune quête</h2>
      </div>
      {% endif %}
      {% if boat.inharbour %}
      <div class="card" >
        <h2> Les quêtes du port : </h2>
      {% if  harbourquests!=[] %}
      <div class="card" >
        <p>Choisissez dans la liste ci-dessous : </p>
        <div class="card__body card__body--unpadded">
          <table class="tableborder">
            <th class="dock">Description</th>
            <th class="dock">Récompence</th>
            <th class="dock">Action</th>
            {% for st in harbourquests %}
            <tr class='list-item'>
              <td>{{st.description}}</td>
              <td>{{st.award}} pièces de huit</td>
              <td>
                {% if st.validation in boatquestsid %}
                Quête déjà prise
                {% else%}
                <button class="btn btn-primary" onclick=takeQuest({{st.id}})>Prendre
                  la quête</button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% else %}
      <p> Il n'y a pas de quête dans ce port</p>
      {% endif %}
      
      </div>
      {% endif %}
  </main>
</body>

{% endblock content %}
