{% extends 'base.html' %}
{% set title='Pirates - Carte du camp' %}
{% block content %}
<body>
  {% with active='sidemap' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
    <div class="container">
      <h1> Carte du camp: </h1>
      <div class="card" >
      {% with page='sidemap' %}
      {% include "editor.html" %}
      {% endwith %}
      </div>
  <div class="sidemap" >

        <img class="sidemap" src="/restricted/{{boat.side}}sidemap.png">
        </img>
        <div class="cross" style="top:{{boat.long*10-8}}px;left:{{boat.lat*10-11}}px">x</div>
  </div>
  <div class="legend">
    {% for leg in legend %}
<div class="legenditem">{{leg}} : <span class="box" style="background-color:rgb({{legend[leg]}})"></span></div>
{% endfor %}
    </div>
    </div>
  </main>
</body>
<script>
  $(document).ready(function() {
    $("img.sidemap").on("click", function(event) {
      var offset = $(this).offset();
        var x = event.pageX - offset.left;
      var y = event.pageY - offset.top;
      loc='/persomap/'+Math.floor(x/5)+'x'+Math.floor(y/5)
        window.location = loc
    });
  });
  </script>
{% endblock content %}
