{% extends 'base.html' %}
{% set title='Pirates - Signup' %}
{% block content %}
<body>
  {% with active='' %}
  {% include "menu.html" %}
  {% endwith %}
  <div class="login">
    <h3 class="title">Sign Up</h3>
    <div class="box">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
      </div>
      {% endif %}
      {% endwith %}
      <form method="POST" action="/signup">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="text"
                   name="pseudo" placeholder="Nom du capitaine" autofocus="">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input is-large" type="text"
                   name="boatname" placeholder="Nom du bateau" autofocus="">
          </div>
        </div>
        <p>Il y a actuellement {% for side in sides %}{{side.count}}
        {{side.side}}s{% if side != sides[sides|length-1]%} et {%
        endif %}{% endfor%} inscrits et actifs ces 7 derniers jours.</p>
        <div class="field">
          <div class="control">
            <select id="side" name="side" >
              <option value="">--Choisir un camp--</option>
              <!-- <option value="pirate">Pirate</option> -->
              <option value="corsaire">Corsaire</option>
          </select>   </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input is-large" type="password" name="password" placeholder="Password">
          </div>
        </div>

        <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
      </form>
    </div>
  </div>

  {% endblock content %}
