<div>
  <table class="{% if url=="anim/manageCarte" %}arrowland{% else %}arrow{%
                                        endif %}" style="margin:auto;">
    <tr>
      <td ><a class="move" href="/{{url}}?xmin={{xmin-17}}&xmax={{xmax-17}}&ymin={{ymin-15}}&ymax={{ymax-15}}"><img src="/statics/images/fleche1.png" border="0"></a></td>
      <td class="centered"><a class="move" href="/{{url}}?xmin={{xmin}}&xmax={{xmax}}&ymin={{ymin-15}}&ymax={{ymax-15}}"><img src="/statics/images/fleche2.png" border="0"></a></td>
      <td ><a class="move" href="/{{url}}?xmin={{xmin+17}}&xmax={{xmax+17}}&ymin={{ymin-15}}&ymax={{ymax-15}}"><img src="/statics/images/fleche3.png"  border="0"></a></td>
      <td >
      </td>
      
    </tr>
    <tr>
      <td class="centered"><a class="move" href="/{{url}}?xmin={{xmin-17}}&xmax={{xmax-17}}&ymin={{ymin}}&ymax={{ymax}}"><img src="/statics/images/fleche4.png" border="0"></a></td>
      <td >
        <table cellspacing="0" cellpadding="0" border="0" align="center">
          <tbody><tr>
              <td>
	        <table id="map" style="text-align: center;" style:no-padding=""
	               width="400" height="400" cellspacing="0" cellpadding="0"
	               border="0" align="center">
                  <tbody>
                    
                    {{ carte|safe() }}

                </table>
              </td>
            </tr>
	  </tbody>
        </table>
      </td>
      <td class="centered"><a class="move" href="/{{url}}?xmin={{xmin+17}}&xmax={{xmax+17}}&ymin={{ymin}}&ymax={{ymax}}"><img src="/statics/images/fleche5.png"
                                                               border="0"></a></td>
        
    </tr>
    <tr>
      <td ><a class="move" href="/{{url}}?xmin={{xmin-17}}&xmax={{xmax-17}}&ymin={{ymin+15}}&ymax={{ymax+15}}"><img src="/statics/images/fleche6.png" border="0"></button></td>
      <td class="centered"><a class="move" href="/{{url}}?xmin={{xmin}}&xmax={{xmax}}&ymin={{ymin+15}}&ymax={{ymax+15}}"><img src="/statics/images/fleche7.png" border="0"></a></td>
      <td><a class="move" href="/{{url}}?xmin={{xmin+17}}&xmax={{xmax+17}}&ymin={{ymin+15}}&ymax={{ymax+15}}"><img src="/statics/images/fleche8.png" border="0"></a></td>
    </tr>
 </table>
</div>
