<div>
  <table class="arrow" style="margin:auto;">
    <tr>
      <td ><button class="move" onclick="sailTo('no');"><img src="/statics/images/fleche1.png" border="0"></button></td>
      <td class="centered"><button class="move" onclick="sailTo('n');"><img src="/statics/images/fleche2.png" border="0"></button></td>
      <td ><button class="move" onclick="sailTo('ne');"><img src="/statics/images/fleche3.png"
                                                border="0"></button></td>
      <td >
      </td>
      
    </tr>
    <tr>
      <td class="centered"><button class="move" onclick="sailTo('o');"><img src="/statics/images/fleche4.png" border="0"></button></td>
      <td >
        <table cellspacing="0" cellpadding="0" border="0" align="center">
          <tbody><tr>
              {% if boat.inharbour %}
              <img class="here" src="/statics/images/here.png"
                   border="0" style="top:{{(boat.perception+1.7)*50}}px;left:{{(boat.perception+2.4)*50}}px;">
              {% endif %}
              <td>
	        <table id="map" style="text-align: center;" style:no-padding=""
	               width="400" height="400" cellspacing="0" cellpadding="0"
	               border="0" align="center">
                  <tbody>
                    
                    {{ carte|safe() }}

                </table>
              </td>
            </tr>
	  </tbody>
        </table>
      </td>
      <td class="centered"><button class="move" onclick="sailTo('e');"><img src="/statics/images/fleche5.png"
                                                               border="0"></button></td>
      <td >
        <div class="boatspec">
          <table class="boatspectable" style="margin:auto;">
            <tr> <td class="centered" colspan="4">Nous sommes le {{now}}<br/>Prochain tour le {{nextturn}}</td>
            </tr>
            <tr>
              <td class="centered"
                  colspan="4">{%if fakeside !=''%}
                <h2 onclick="reloadTurn({{boat.id}})">Déguisé en {{fakeside.boatname}}
                ({{fakeside.side}})</h2>Vous êtes le {{boat.boatname}}<button class="btn btn-primary"
                onclick=removeFlag()>Remettre votre Pavillon</button>
                {% else %}
                <h2 onclick="reloadTurn({{boat.id}})">{{boat.boatname}}</h2>
                <p> {{boat.type}}</p>
                {% endif %}</td>
            </tr>
            <tr>
              <td class="coord" colspan="4">{{boat.lat}}x{{boat.long}}</td>
            </tr>
            <tr>
              <td ><b>Renommée</b>  </td>
              <td class="centered">{{boat.xpi}}/{{boat.xp}}
               <td ><b>Thune </b> </td>
              <td class="centered">{{boat.thune}}</td>
             </tr>
             <tr>
              <td class="centered" colspan="4">
               <b>Points de structures :</b> {{boat.boatstructure}}/{{boat.boatstructuremax}}
              </td>  </tr>
            <tr>
              <td class="centered" colspan="4">

                {% with percent =
                (100*boat.boatstructure/boat.boatstructuremax)|round|int %}
                <div class="meter {%if percent<60 and
                percent>30%}orange{%elif percent<30 and
                percent>10%}red{% elif percent<10  %}darkred{% endif %}">
                  <span style="width:{{percent}}%"></span>
                </div>
                {%endwith%}
            </td>  </tr>
            
            <tr>
               <td > <b>Cale</b> </td>
              <td class="centered"{% if boat.totalweight and boat.totalweight >boat.maxweight %}
            style="color:red;"
            {% endif %}>{{boat.totalweight}} /{{boat.maxweight}}{% if boat.totalweight and boat.totalweight >boat.maxweight %}({{malus.malus}} PM de malus){% endif %}
           </td>
          
                  <td ><b>PM</b>  </td>
              <td class="centered">{{boat.mouvementpoint}}/{{boat.mouvementpointmax}}</td>
              
              </tr>
                 <td ><b>Canons</b>  </td>
               <td class="centered">{{boat.canon}}/{{boat.canonmax}}</td>
                <td ><b>PA</b>  </td>
              <td class="centered">{{boat.actionpoint}}/{{boat.actionpointmax}}</td>
              </tr>
            <tr>
            
           
              <td class="centered" colspan="4"><b>Actions</b></td> </tr>
            <tr><input  id="target"
                                      style="display:none;"
                                      ></input>
              <td colspan="4">
                {% if boat.boatstructure<boat.boatstructuremax %}
                                                               <button  class="btn btn-success
                                                                               centered"
                                                                        onclick="repair()">Réparer</button>
                                                               {%
                                                               endif%}
                <button  class="btn
               btn-primary centered" onclick="makeRound()">Tourner sur place</button>  <button  class="btn
               btn-primary centered"
               onclick="searchTreasure()">Chercher un trésor</button></td>
            </tr>
</tbody>
</table>
        </div>
      </td>
    </tr>
    <tr>
      <td ><button class="move" onclick="sailTo('so');"><img src="/statics/images/fleche6.png" border="0"></button></td>
      <td class="centered"><button class="move" onclick="sailTo('s');"><img src="/statics/images/fleche7.png" border="0"></button></td>
      <td><button class="move" onclick="sailTo('se');"><img src="/statics/images/fleche8.png" border="0"></button></td>
    </tr>
 </table>
</div>
