{% extends 'base.html' %}
{% set title='Pirates - Statistiques - '+title %}
{% block content %}
<body>
  {% with active=active %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    <div class="container">
      <div class="card" >
        <h2> {{title}}</h2>
        {% with page=active %}
        {% include "editor.html" %}
        {% endwith %}
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th class="dock">Date</th>
              <th class="events">Evènement</th>
              {% for event in events %}
              <tr class='list-item'>                
                <td>{{event.Timestamp}}</td>              
                <td colspan="4">{{event.comment|safe}}</td> 
              </tr>
              {% endfor %}
             
            </table>
         
      </div>
    </div>
  </main>
</body>

{% endblock content %}
