{% extends 'base.html' %}
{% set title='Pirates - stats - points de victoires' %}
{% block content %}
<body>
  {% with active='victorystats' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    <div class="container">
      <h2> Liste des points de victoires : </h2>
            {% with page='victorystats' %}
      {% include "editor.html" %}
      {% endwith %}
      <div class="card" >
        <div class="card__body card__body--unpadded">
          
          {% for victory in victorySum %}
          <b>Total {{victory.side}} : {{victory.sum}}<b/>
            <br>
            {% endfor %}
            <table class="tableborder">
              <th >Camp
              </th>
              <th>Points
                  </th>
              <th class="events">Description
              </th>
              {% for victory in victorys %}
              <tr class='list-item'>
                <td>{{victory.side}}</td>
                <td>{{victory.points}}</td>
                <td>{{victory.Comment}}</td>
              </tr>  
              {% endfor %}
             
            </table>
         
          </div>
          
          </div>
          <div class="card" >
      
    </div>
  </main>
</body>

{% endblock content %}
