{% extends 'base.html' %}
{% set title='Pirates - Statistiques - '+title %}
{% block content %}
<body>
  {% with active=active %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    <div class="container">
      <div class="card" >
        <h2> {{title}}</h2>
        {% with page=active %}
        {% include "editor.html" %}
        {% endwith %}
          <div class="card__body card__body--unpadded">
            <table class="tableborder">
              <th class="events">Evènements</th>
              {% for event in events %}
              <tr class='list-item'>  
                <td colspan="4">Arrivée de <b>{{event.pseudo}}</b> à bord du
                bateau <a href="/events/b{{event.id}}">{{event.boatname}}</a> chez
                les <b>{{event.side}}s</b>  </td> 
              </tr>
              {% endfor %}
            </table>
      </div>
    </div>
  </main>
</body>

{% endblock content %}
