{% extends 'base.html' %}
{% set title='Pirates - Tavern' %}
{% block content %}
<body>
  {% with active='tavern' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning">
      {{ messages[0]|safe() }}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
      <div class="card" >
        <h2> Population du port {{harbour.name}}
          {{totalpop}}/{{harbour.maxpop}} </h2>
        {% if boats|length()>0 %}Sont dans le port : <br>{% for pop in
          boats %}{{pop.name}} ({{pop.side}}){%if
          pop.id!=boat.id%}<button class="btn btn-danger"
          onclick="shootAgainByCanon('b-{{pop.id}}');">Attaquer
          !</button><button class="btn btn-primary"
          onclick="giveMoney('{{pop.id}}');">Donner des pièces de huit</button>{%endif%}<br>
        {% endfor %}{% endif %}
        <input  id="target"
                                      style="display:none;"
                                      ></input>
        <div class="">
          <div class="card" >
            <div class="card__body card__body--unpadded">
              <table class="tableborder">
                <th class="dock">Allégeance</th>
                <th class="dock">Nombre</th>
                {% for pop in pops %}
                <tr class='list-item'>
                  <td>{{pop.side}}</td>
                  <td>{{pop.number}}</td>
                </tr>
                {% endfor %}
              </table>
              <button class="btn btn-primary"
              onclick="drinksOnMe();">Payer une tournée !</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2> Recrutement </h2>
        Renommée : {{boat.xpi}}/{{boat.xp}}
        <table class="tableborder">
          <tbody><tr><th class="dock">Membre d'équipage</th>
              <th class="events">Description</th>
                <th>Niveau</th>
                <th class="dock">Action</th>
                </tr><tr class="list-item">
                  <td>Canonnier</td>
                  <td>Le canonnier permet d'être plus précis lors
                  d'une bordée</td>
                  <td>{{members['canonierlvl']}}</td>
                  <td> <button class="btn btn-primary" onclick="recruit('canonier');">Recruter</button></td>
                </tr>
                <tr class="list-item">
                  <td>Vigie</td>
                  <td>La vigie permet de voir plus loin en mer</td>
                  <td>{{members['vigielvl']}}</td>
                  <td> <button class="btn btn-primary" onclick="recruit('vigie');">Recruter</button></td>
                </tr>
                <tr class="list-item">
                  <td>Maitre d'équipage</td>
                  <td>Le maitre d'équipage permet d'être plus efficace
                  lors des manœuvres</td>
                  <td>{{members['maitrelvl']}}</td>
                  <td> <button class="btn btn-primary" onclick="recruit('maitre');">Recruter</button></td>
                </tr>
                <tr class="list-item">
                  <td>Voilier</td>
                  <td>Un voilier permet de mieux réparer le navire</td>
                  <td>{{members['voilierlvl']}}</td>
                  <td> <button class="btn btn-primary" onclick="recruit('voilier');">Recruter</button></td>
                </tr>
                <tr class="list-item">
                  <td>Navigateur</td>
                  <td>Un navigateur d'être plus efficace lors des
                  manœuvres de déplacement</td>
                  <td>{{members['navigateurlvl']}}</td>
                  <td> <button class="btn btn-primary" onclick="recruit('navigateur');">Recruter</button></td>
                </tr>
                <tr class="list-item">
                  <td>Charpentier</td>
                  <td>Un charpentier permet de renforcer le navire
                  pour qu'il puisse prendre plus de boulet sans couler</td>
                  <td>{{members['charpentierlvl']}}</td>
                  <td> <button class="btn btn-primary" onclick="recruit('charpentier');">Recruter</button></td>
                </tr>
        </tbody></table>
        </div>
    </div>
  </main>
</body>

{% endblock content %}
