{% extends 'base.html' %}
{% set title='Pirates - Anim - points de victoires' %}
{% block content %}
<body>
  {% with active='victory' %}
  {% include "menu.html" %}
  {% endwith %}
  <main class="main">
    <div class="container">
      <h2> Liste des points de victoires : </h2>
            {% with page='victory' %}
      {% include "editor.html" %}
      {% endwith %}
      <div class="card" >
        <div class="card__body card__body--unpadded">
          
          {% for victory in victorySum %}
          <b>Total {{victory.side}} : {{victory.sum}}<b/>
            <br>
            {% endfor %}
            <table class="tableborder">
              <th >Camp
              </th>
              <th>Points
                  </th>
              <th class="events">Description
              </th>
               <tr class='list-item'>
                <td><select id="side" name="side" >
                    <option value="">--Choisir un camp--</option>
                    <option value="pirate">Pirate</option>
                    <option value="corsaire">Corsaire</option>
                  </select>
                </td>
                <td><input class='input is-large' type='number' id="points" placeholder='Nombre' autofocus=''> </td>
                <td> <textarea class="input is-large" type="text"
                   name="description" id="description" placeholder="Décrivez la raison des points de victoires"></textarea>
                  
        <button class="btn btn-success"
                onclick=addVictoryPoints()>Ajouter</button>
    </td>
              </tr>  
              {% for victory in victorys %}
              <tr class='list-item'>
                <td>{{victory.side}}</td>
                <td>{{victory.points}}</td>
                <td>{{victory.Comment}}</td>
              </tr>  
              {% endfor %}
             
            </table>
         
          </div>
          
          </div>
          <div class="card" >
      
    </div>
  </main>
</body>

{% endblock content %}
